- include_stylesheet 'admin/location'

- render_region :main do |main|
  - main.edit_header do
    %h1 Edit Location
  - main.edit_form do
    - form_tag admin_location_path(@location), :method => :put do
      = render :partial=>'form'
      
      - render_region :form_bottom do |form_bottom|
        - form_bottom.edit_timestamp do
          = updated_stamp @location  
        - form_bottom.edit_buttons do
          %p.buttons
            = save_model_button(@location)
            = save_model_and_continue_editing_button(@location)
            or 
            = link_to "Cancel",  admin_locations_url
    
